notebook/data/anime.csv
artifacts/anime.csv
artifacts/data_transformed.csv
artifacts/similarity_matrix_bow.pkl
artifacts/similarity_matrix_tfidf.pkl
.idea/
mr_venv/
logs
src/__pycache__/
src/pipeline/__pycache__/
src/components/__pycache__/
ML_Project_Template.egg-info/
